@use'./base/reset';
@use './partials/body';
@use'./partials/footer';

.html {
    font-size: 50%;
}
 body {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-size: 100%;
        /* Mobile Styles */
        @media only screen and (max-width: 400px) {
                body {
                    background-color: #F09A9D;
                    /* Red */
                }
            }
        
            /* Tablet Styles */
            @media only screen and (min-width: 401px) and (max-width: 960px) {
                body {
                    background-color: #F5CF8E;
                    /* Yellow */
                }
            }
        
            /* Desktop Styles */
            @media only screen and (min-width: 961px) {
                body {
                    background-color: #B2D6FF;
                    /* Blue */
                }
  
header {
           div {
              margin: 2 px;
               background: #053bbae6;
               border: 2px solid rgb(12, 11, 11);
             overflow: auto;

    nav {
           ul {
                li {
                        display: flex;
                        height: 30px;
                        max-width: 10px;
                        overflow: auto;
                        text-decoration: none;
            }
        }
    }
}
}
div{
    display: flex;
    height: 30px;
    max-width: 10px;
    overflow: auto;
    text-decoration: none;
                }
.logo_estudio
           {
    max-width: 7rem;
    max-height: 7rem;
    position: relative;
}
}

.nav_bar {
    padding: 4%;
    text-decoration: none;
}

/* li */
li {
    display: inline;
    margin: 40px;
    border: #060617;
    bottom: 20px;
    text-decoration: none;
}

.nuestros_servicios {
    bottom: auto;
    left: auto;
    text-shadow: #878a85;
    background: fixed;
    margin: auto;

}

.nuestros_servicios>h2 {
    width: 100%;
    bottom: 2000px;
    color: #878a85;
    text-decoration: none;
    text-align: justify;
    background: #060617;

}

.foto_demora_sentencia {
    padding: 30px 20px 10px 50px;

}

.contenedor_sobre_nosotros {
    width: 115 px 134 px;
    background: aqua;
}

.contenedor_sobre_nosotros>img {
    width: 100%;

    padding: 5px;
}

.nuestros servicios {
    bottom: 40px;
    background: #8313de;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font: 300;
}

.contenedor_sobre_nosotros {
    width: 30%;
}

.titulo {
    color: #1c11e2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    background: #f2f2f2;
}

/* Header */
header {
    width: 100%;
    height: 200px;
    background: hsla(28, 19%, 40%, 0.423);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(237, 93%, 77%, 0.447), hsla(237, 53%, 55%, 0.35)), url(../imagenes/imagenparalaola.jpge.jpeg);
    ;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(237, 93%, 77%, 0.447), hsla(237, 53%, 55%, 0.35)), url(../imagenes/imagenparalaola.jpge.jpeg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.secciones nav ul {
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 30px;
}

nav a:hover {
    text-decoration: underline;
}

header .textos_header {
    display: flex;
    height: 430 px;
    width: 100%;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    text-decoration: none;
}

.textos_header h1 {
    font-size: 20px;
    bottom: 40px;
    color: #2b1212
}

.textos_header h2 {
    font-size: 20px;
    font-weight: 300;
    color: rgb(2, 2, 22);
    bottom: 50px;
}

.wave {
    bottom: 100px;
    position: relative;
    bottom: 60px;
    width: 100%;
    color: bisque;
}


/*About u */



.imagen-abaust-us {
    width: 48%;
}

.contenido_textos>h3 {
    width: 100%;
    position: fixed;
    color: coral;

}

.contenido_textos>h3 p {
    color: coral;
}


.contenido_textos>h3 span {
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}
}
