footer {
    .logowhatsapp {
    height: 3rem;
    width: 3rem;
}
    .logoGmail {
    height: 3rem;
    width: 3rem;
}
    .logoface {
    height: 3rem;
    width: 3rem;
}
    .logoinstagram {
    height: 3rem;
    width: 3rem;
}

.lista_de_servicios {
    position: relative;
    width: 100%;
}
.largo {
    height: 40rem;
}
.lista_izquierda {
    position: absolute;
    width: 33, 33%;
    left: 0%;
}
.lista_medio {
    position: absolute;
    width: 33, 33%;
    left: 33, 33%;
}
.lista_derecha {
    position: absolute;
    width: 33, 33%;
    left: 66, 66%;
}
.portafolio {
    background: #f2f2f2;
    display: flex;
}
.galeria-port {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen_port {
    width: 24%;
    margin-bottom: 10px;
    height: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}
.imagen_port>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(1);
    background: rgba(75, 6, 132, 0.7);
    transition: transform .5s;
    justify-content: center;
    align-items: column;
}
.hover-galeria img {
    width: 50px;
}
.hover-galeria p {
    color: #fff;
}
.imagen_port:hover.hover-galeria {
    transform: scale(1);
}
.responsive-imag {
    max-width: 100%;
    height: auto;
}
h3:nth-child(1) {
    background-color: #1b11e256;
}
footer h3:nth-child(3) {
    background-color: #1b11e256;
}
footer h3:nth-child(5) {
    background-color: #1b11e256;
}
    div {
        ul{
            li{
        display: inline-block;
        margin-left: 2rem;
        margin-right: 2rem;
        text-align: center;  
    }
    
 }
}
}